.ide-workarea-container {
  .ide-workarea {
    .absoluted;

    padding: 0;
    background-color: @app-bkg-light;

    &.is-splitter {
      background-color: @app-stroke-light;
    }
  }

  /* Horizontal workarea container */
  &[data-orientation='0'] {
    .ide-workarea {
      &.is-splitter {/*vertical bar*/
        width: 4px;
        height: 100%;
        left: initial;
        right: initial;
        cursor: col-resize;
      }
    }
  }

  /* Vertical workarea container */
  &[data-orientation='1'] {
    .ide-workarea {
      &.is-splitter {
        width: 100%;
        height: 4px;
        top: initial;
        bottom: initial;
        cursor: row-resize;
      }
    }
  }
}
