.app-nav {
  .app-menu-item {
    padding: 2px;
    color: @app-stroke-light;

    &[data-enabled=true] {
      color: @app-stroke;
      cursor: pointer;
    }
    .app-menu-caption {
      
    }
  }

  &.app-nav-h > .app-menu-item {
    display: inline-block;
  }

  &.app-nav-v > .app-menu-item {
    display: block;
  }
}
/*
.app-nav.app-nav-h > .app-menu-item {
    display: inline-block;
}

.app-nav.app-nav-v > .app-menu-item {
    display: block;
}
*/